/*General*/
*{
    padding: 0;
    margin: 0;
    font-family: lato, sans-serif;
    box-sizing: border-box;
}

/*Variables*/

:root{
    --main-color: #bf8bfa;
    --main-text-color: #fff;
    --boder-color: #999;
    --bio-border-color:#617c9c;
    --bio-bg-color: #1b2431;
    --about-border-color: #111821;
    --about-bg-color: #273147;
}


.highlight{
    color: var(--main-color);
}

/* Conteiners */

#container{
    display: flex;
    flex-direction: row;
    color: var(--bio-border-color);
}
/*bio container*/
#bio-container{
    flex: 1 1 20%;
    min-height: 100vh;
    background-color: var(--bio-bg-color);
    text-align: center;
    padding: 20px 12px;
    border: 2px solid var(--bio-border-color);
}
#bio-img{
    width: 175px;
    height: 175px;
    border-radius: 50%;
    margin-bottom: 20px;
}

#bio-container h2{
    margin-bottom: 25px;
    color: var(--main-text-color);

}

#bio-container p{
    margin-bottom: 40px;
    color: var(--main-text-color);
}

#social-container{
    display: flex;
    justify-content: center;
    list-style: none;
    border-bottom: 1px solid ;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#social-container li{
    flex: 1 1 0;
    max-width: 40px;

}

#social-container li a{
    color: var(--main-color);
    font-size: 30px;
}

#welcome-text{
    font-weight: 700;
}

#email-container{
    display: flex;
    justify-content: center;
}


#email-container a{
    color: var(--main-text-color);
    text-decoration: none;
    max-width: 225px;
}
#email-container ion-icon{
    color: var(--main-color);
    font-size: 22px;
    margin-right: 5px;
}
/*about container*/
#about-container{
    flex: 1 1 80%;
    height: 100%;
    min-height: 100vh;
    background-color: var(--about-bg-color);
    padding: 50px;

}